av==10.0.0
clip==0.2.0
decord==0.6.0
einops==0.8.0
fvcore==0.1.5.post20221221
matplotlib==3.7.3
moviepy==1.0.3
nltk==3.9.1
numpy==1.24.4
onnxruntime==1.19.2
opencv_python==4.8.1.78
packaging==24.1
pandas==2.0.3
parameterized==0.9.0
Pillow==10.4.0
pytest==8.3.3
pytorch_sphinx_theme==0.0.19
pytorchvideo==0.1.5
rich==13.9.2
scipy==1.14.1
seaborn==0.13.2
setuptools==60.2.0
spikingjelly==0.0.0.0.14
timm==0.9.8
torch==2.1.0
torchsummary==1.5.1
torchvision==0.16.0
tqdm==4.65.2
transformers==4.45.2
